h1{
    font-family: Cambria, "Comic Sans MS" ,sans-serif;
}

ul{
    background-image: url("../img/backgorund.png");    
    width: 400px;
    height: 200px;
    background-size: cover;
}

.insta{
    list-style-image: url("../img/Insta.png");
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
.Twitter{
    list-style-image: url("../img/Twitter.png");
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;

}
.YouTube{
    list-style-image: url("../img/Youtube.png");
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

